#titulo{
    color: red
}

.descripcion {
    color: gray
}

#letras{
    display:flex;
}

.navbar{
    text-align: center;
    width: 512px;
   }

.main {
    margin-top: 5em;
    margin-bottom: 5em;
}
